h1{
    font-family: sans-serif;
    font-weight: normal;
}


images{
    align: center;
    padding-inline: 20px;

}

h2{
    font-family: sans-serif;
    font-weight:normal;

}

h3{
    font-family: sans-serif;
    font-weight:normal;
}

p{
    font-family:sans-serif;
}
body{
    text-align: center;
}
