h1{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 2px rgb(129, 129, 129)
    
}


images{
    align: center;
    padding-inline: 20px;

}

h2{
    font-family: 'Poiret One', sans-serif;
    font-weight:medium;

}

h3{
    font-family: 'Poiret One', sans-serif;
    font-weight:medium;
}

p{
    font-family: avenir, sans-serif;
}
body{
    text-align: center;
}
.content-wrap {
    width: 900px;
    margin: 0 auto;
}
header {
    background-color: rgb(104, 124, 109);
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    margin: 0;
}
a {
    font-family: avenir, sans-serif;
    text-decoration-line: none;
    color:rgb(121, 94, 53)
}
footer {
    background-color: silver;
    padding-bottom: 20px;
    padding-top: 3px;
}
ul {
    list-style-type: none;
    text-align: center;
}
